<table mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="loadData">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <nb-checkbox indeterminate (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()">
      </nb-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <nb-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </nb-checkbox>
    </td>
  </ng-container>

  <!-- post_id Column -->
  <ng-container matColumnDef="post_id">
    <th mat-header-cell *matHeaderCellDef> DOC ID </th>
    <td mat-cell *matCellDef="let element"> {{element._source.post_id}} </td>
  </ng-container>
  <!-- post_url Column -->
  <ng-container matColumnDef="post_url">
    <th mat-header-cell *matHeaderCellDef> Post url </th>
    <td mat-cell *matCellDef="let element"> <a href="element._source.post_url">URL</a></td>
  </ng-container>
  <!-- status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status Edenor </th>
    <td mat-cell *matCellDef="let element"> {{element._source.status}} </td>
  </ng-container>
  <!-- seller_name Column -->
  <ng-container matColumnDef="seller_name">
    <th mat-header-cell *matHeaderCellDef> Seller Name </th>
    <td mat-cell *matCellDef="let element"> {{element._source.seller_name}} </td>
  </ng-container>
  <!-- location_text Column -->
  <ng-container matColumnDef="location_text">
    <th mat-header-cell *matHeaderCellDef> Localización </th>
    <td mat-cell *matCellDef="let element"> {{element._source.location_text | titlecase}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
  </tr>

</table>
<mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
<div class="button-group" *ngIf="loadData">
  <button nbButton hero status="info"
    (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Edenor-Facts'}})">Excel</button>
  <button nbButton hero status="info" (click)="exporter.exportTable('csv', {fileName: 'test'})">CSV</button>
  <button nbButton hero status="info" (click)="exporter.exportTable('json', {fileName: 'test'})">Json</button>
  <button nbButton hero status="info" (click)="exporter.exportTable('txt', {fileName: 'test'})">Txt</button>
</div>